.bottom-bar {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  padding-bottom: 5px;
  padding-top: 50px;
  font-size: 1.5rem;
  color: #FFFFFF
}

.bottom-bar > a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #FFFFFF
}

.bottom-bar a span {
  height: 1px;
 width: 1px;
 position: absolute;
 overflow: hidden;
 top: -10px;
}
